<app-navbar></app-navbar>
<html>
    <head>
        <title>result</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div>
        <br>
        <br>
        <br>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Transaction Id</th>
            <th scope="col">Description</th>
            <th scope="col">From Account</th>
            <th scope="col">To Account</th>
            <th scope="col">Transfer Amount</th>
            <th scope="col">IFSC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let hist of transhistory">
            <td>{{hist.transactionId}}</td>
            <td>{{hist.description}}</td>
            <td>{{hist.sourceAccountnumber}}</td>
            <td>{{hist.destinationAccountnumber}}</td>
            <td>{{hist.transactionAmount}}</td>
            <td>{{hist.ifsc}}</td>
          </tr>
          </tbody>
      </table>



















      
              <!-- <table class="table table-striped">
              
                  <tr class="bg-info">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                    <th>status</th>
                  </tr>
              </table>
              <table>
              <tbody>
                <tr *ngFor="let eachuser of userslist | async">
                    <td ng-if="{{eachuser.status}} =='0'">{{eachuser.firstname}}</td>
                    <td ng-if="{{eachuser.status}} == '0'">{{eachuser.surname}}</td>
                    <td ng-if="{{eachuser.status}} == '0'">{{eachuser.mailid}}</td>
                    <td ng-if="eachuser.status == '0'">{{eachuser.phonenumber}}</td>
                    <td ng-if="eachuser.status == '0'">{{eachuser.address}}</td>
                    <td ng-if="eachuser.status == '0'">{{eachuser.status}}</td>
                    <td ng-if="eachuser.status == '0'"><button (click)="lock(eachuser.id)" class="btn btn-danger">Locked</button>
                    </td>
                  </tr>
                </tbody>     
              </table> -->
           

    </body>
    
</html>