<app-navbar></app-navbar>
<html>

<head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div style="padding: 4%;">
        <form #chequeform="ngForm" (ngSubmit)="requestCheck()">
        <div class="col-75" style="height: 5%;" >
        <div class="form-group"> 
            <label for="inputPassword">Description</label>
            <textarea type="text" class="form-control" placeholder="Write Description" required name="description" [(ngModel)]="cbrequest.description">
                </textarea>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br><br>
    <div>
        <button [disabled]="chequeform.form.invalid" type="submit" class="btn btn btn-primary">
            Request
        </button>
    </div>
    </form>
    </div>
</body>

</html>